@font-face{
    font-family:"NES";
    font-style:normal;
    font-weight:400;
    src:url(nintendo-nes-font.woff) format("woff");
}

@font-face{
    font-family:"GameBoy";
    font-style:normal;
    font-weight:400;
    src:url(GameBoy.woff) format("woff");
}

body {
    background-color: #333;
    image-rendering: pixelated;
    background-position: center;
    background-size: 64px 64px;
    overflow: hidden;
    
}

#backgroundCanvas {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
    z-index: -1;
    transform-origin: top left;
    transform: scale(4.01);
}

#gameCanvas {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
    z-index: -1;
    transform-origin: top left;
    transform: scale(4.01);
}

p {
    font-family: "NES";
    font-size: 8px;
    color: white;
    margin: 0;
    user-select: none;
}

label {
    font-family: "NES";
    font-size: 16px;
    color: white;
    margin: 0;
}

button {
    border: 4px solid #444;
    background-color: white;
    color: #222;
    font-family: "NES";
    font-size: 16px;
    margin: 0;
    margin-top: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

.startingButton {
    border: none;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    padding: 10px;
    display: none;
}

.menuButton {
    border: none;
    width: 600px;
    height: 45px;
    background-image: url("img/menuBar.png");
    background-color: transparent;
    color: #222;
    padding-left: 20px;
    padding-top: 6px;
    margin-top: 16px;
    font-size: 24px;
    text-align: left;
}

.menuButton:hover {
    background-image: url("img/menuBar2.png");
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top cubic-bezier(.15,.67,.53,1.02) 0.5s, left cubic-bezier(.15,.67,.53,1.02) 0.5s;
    padding: 8px;
}

#modeSelectContainer {
    position: absolute;
    top: 130px;
    width: 500px;
    height: calc(100% - 240px);
    background-color: rgba(0,0,0,0.3);
    overflow: hidden;
    border-top: 4px solid #eaeaff;
    border-bottom: 4px solid #eaeaff;
}

.menuMode {
    position: absolute;
    width: 400px;
    transform: translateY(-50%);
    transition: top cubic-bezier(.15,.67,.53,1.02) 0.5s, left cubic-bezier(.15,.67,.53,1.02) 0.5s;
    cursor: pointer;
    user-select: none;
}

.menuArrow {
    position: absolute;
    left: 250px;
    transform: translate(-50%, -50%);
    transition: top cubic-bezier(.15,.67,.53,1.02) 0.5s, left cubic-bezier(.15,.67,.53,1.02) 0.5s;
    width: 40px;
    cursor: pointer;
    user-select: none;
}

#overallGradeCanvas {
    position: absolute;
    top: 30px;
    right: 110px;
    transform: scale(4);
    transform-origin: top right;
}

#modeStatsContainer {
    position: absolute;
    top: 200px;
    right: 110px;
    width: 560px;
    padding: 20px;
    height: calc(100% - 310px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.3);
    overflow-X: hidden;
    overflow-Y: auto;
}

#modeInfoContainer {
    position: absolute;
    top: 50%;
    left: 560px;
    padding: 20px;
    width: calc(100% - 1250px);
    transform: translateY(-50%);
    min-width: 250px;
    max-height: 75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.3);
    overflow-Y: auto;
}

#modeInfo {
    font-family: 'Courier New', monospace;
    font-size: 24px;
    margin-top: 20px;
}

#modeStatsCanvas {
    transform: scale(4);
    transform-origin: top left;
}

#playButton {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
    cursor: pointer;
    user-select: none;
}

#keybindsContainer, #settingsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #888;
    border: 4px outset;
    padding: 30px;
    display: none;
}

.keybindsText {
    font-size: 24px;
    font-family: 'Courier New', monospace;
    display: inline-block;
    margin-right: 20px;
}

.keybind {
    color: #9ff;
}

#blackCoverLeft, #blackCoverRight {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    z-index: 3;
    transition: width cubic-bezier(.15,.67,.53,1.02) 0.5s;
}

#game, #effectOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
    /*background-color: rgba(0,0,0,0.2);*/
    user-select: none;
    display: none;
}

#textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 240px;
    padding: 0;
    transform: translate(-50%, -50%) scale(4);
    display: none;
}



/*Game-specific things*/

.GBText {
    color: #081810;
    position: absolute;
    font-family: "GameBoy";
}

.NESText {
    color: white;
    position: absolute;
    font-family: "NES";
    line-height: 8px;
}

.DXText {
    color: #081810;
    position: absolute;
    font-family: "GameBoy";
}